<!-- Footer Fragment -->
<footer th:fragment="footerFragment" class="footer">
  <div class="footer-container">
    <div class="row align-items-start">
      <!-- Logo Section -->
      <div class="col-md-4 col-lg-3">
        <div class="footer-logo">
          <!-- Logo image using Thymeleaf -->
          <img th:src="@{/images/common/seongsubean-logo.png}" alt="SeongsuBean Logo"
               class="footer-logo-img">
        </div>
      </div>

      <!-- Company Information Section -->
      <div class="col-md-8 col-lg-9">
        <div class="footer-info">
          <div class="row">
            <div class="col-md-6">
              <div class="company-name">이용약관</div>
              <div class="detail-row">㈜ SeongsuBean</div>
              <div class="detail-row">주소 : 서울시특별시 금천구 가산디지털 1로 70 912호</div>
              <div class="detail-row">전화번호 : 031-606-9304</div>
            </div>
            <div class="col-md-6">
              <div class="company-name">개인정보 취급방침</div>
              <div class="detail-row">남하윤 | 이상혁 | 최의걸 | 황서이</div>
              <div class="contact-info">
                <div class="detail-row">이메일 : seongsubean@gmail.com</div>
              </div>
            </div>
          </div>
          <div class="copyright">
            Copyright © <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span>
            SeongsuBean All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
