<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common}">
<head>
  <title layout:fragment="title">자유 게시판 - SeongsuBean</title>
  <link layout:fragment="styles" rel="stylesheet" th:href="@{/css/board/free.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>

<div layout:fragment="content">
  <!-- 자유게시판 검색 영역 -->
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="input-group">
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="searchDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              검색필터
            </button>
            <ul class="dropdown-menu" aria-labelledby="searchDropdown">
              <li><button class="dropdown-item">제목</button></li>
              <li><button class="dropdown-item">본문</button></li>
              <li><button class="dropdown-item">작성자</button></li>
              <li><button class="dropdown-item">제목 + 본문</button></li>
            </ul>
          </div>
          <input type="text" class="form-control" id="searchInput" placeholder="아메리카노">
          <button id="searchButton" class="btn btn-outline-secondary search-btn" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="col-md-3 text-end" sec:authorize="isAuthenticated()">
        <button  class="btn search-btn" onclick="location.href='/free-post'">새 글쓰기</button>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row" id="card-row">
      </div>

    <!-- 페이지네이션 -->
    <div class="row mt-4">
      <div class="col-12">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center"></ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="scripts">
  <script th:src="@{/js/board/free-list.js}"></script>
</th:block>
</body>
</html>